*{
    /*space inside element between content and border*/
    padding: 0;
    /*space outside element between content and border*/
    margin: 0;
    /*removes the styling eg.bulletpoints on lists*/
    list-style: none;
    /*removes the text deco like underlines on links*/
    text-decoration: none;
    color:rgb(255, 255, 255);
}

/*when link back to top of page scroll is smooth*/
html{
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: black;
    font-family: 'Space Grotesk', sans-serif;
}

/*this is the 3d canvas so it always needs to be fixed position and under everything else*/
canvas {
    z-index: -1;
}
/*------------------------------------------------NAV----------------------------------------------------------------*/
nav {
    position: fixed;
    z-index: 1000;
    /*height of the nav bar*/
    min-height: 100px;
    /*full width of the page*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: #000000;
}

/*------------------------------------------------FOOTER----------------------------------------------------------------*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------------------------------------------------MAIN INDEX----------------------------------------------------------------*/
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255); }
}
/*------------------------------------------------MAIN ABOUT----------------------------------------------------------------*/
.hero {
    min-height: 60vh;
    display: flex;
    /*space evenly in the middle*/
    justify-content: space-evenly;
}
.bio {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50vw;
    margin-top: 5vw;
    line-height: 2;
    padding: 25px;
    border-radius: 15px;
    color: white;
}

.bio-title {
    margin: 50px 0px;
}

.aboutbtn {
  background: #040042;
  border: 2px solid #ffffff;
  color: #ffffff;
  /*spacing*/
  letter-spacing: 2px;
  padding: 0.7em 1em;
  margin: 0.25em;
  /*transition for hover animation*/
  transition: 0.5s;
}

.aboutbtn:hover {
  background: #ffffff;
  color: #040042;
}
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
    padding: 50px 0;
  }
  
  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    border-radius: 2.5px;
    margin: 0 auto;
    padding-top: 50px;
    background: rgb(255, 255, 255);
    color:rgb(255, 255, 255);
  }
  
  .timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 28px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
  }
  
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    border-radius: 5px;
    background: #040042;
  }
  
  .timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }
  
  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #040042 transparent transparent;
  }
  
  .timeline ul li:nth-child(even) div {
    left: -439px;
  }
  
  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #040042;
  }
  
  time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  
  /* EFFECTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline ul li::after {
    transition: background 0.5s ease-in-out;
  }
  
  .timeline ul li.in-view::after {
    background: #ffffff;
  }
  
  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }
  
  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }
  
  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  
  

  /* EXTRA/CLIP PATH STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
  }
  
  .timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  
  .timeline-rhombus ul li div::before {
    bottom: 12px;
  }
  
  .timeline-star ul li::after {
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }
  
  .timeline-heptagon ul li::after {
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }
  
  .timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: translateX(-50%) scale(1);
    }
    50% {
      transform: translateX(-50%) scale(1.25);
    }
    100% {
      transform: translateX(-50%) scale(1);
    }
  }
  
.indexmain {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.mainheader {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
/*3d canvas wrapper*/
.canvaswrapper {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.eachcanvas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.eachcanvas h4 {
    position: absolute;
    bottom: 30%;
    color: white;
}

/*------------------------------------------------MAIN ABOUT----------------------------------------------------------------*/
.skills {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*space evenly in the middle*/
    justify-content: space-evenly;
}

.skills .canvaswrapper {
    min-height: 0vh;
}
/*------------------------------------------------MAIN PROJECTS----------------------------------------------------------------*/
.news-wrapper{
    /*i want to have space between my elements (news containers)*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.news-container1{
    display: flex;
    justify-content: center;
    /*space it out from the previous article*/
    padding: 25px;
    background: #000000;
    width: 63vw;
}


.news-imagecontainer1{
    width: 55vw;
    object-fit: fill;
    /*hide any part of image outside of container*/
    overflow: hidden;
}

.news-imagecontainer1 img{
    /*make the image fill the width of container*/
    width: 100%; 
    /*maintain the aspect ratio*/
    height: auto; 
    /*remove any alignment/spacing that is default*/
    display: block; 
}

.news-content1{
    color: #ffffff;
    /*make it take up less space*/
    width: 30vw;
    /*ensure there is space between text and img*/
    padding-left: 20px;
    /*ensure there is space from top and sides of text box to the text*/
    padding-top: 10px;
    padding-right: 15px;
    /*same height as image*/
    max-height: 55vh;
}

/*content of news 1 excluding header*/
.news-content1 p, .news-content2 p{
    /*separate the lines to make it cleaner looking*/
    line-height: 1.5;
}

.news-container2{
    display: flex;
    justify-content: center;
    /*space it out from previous article*/
    padding: 25px;
    background: #000000;
    width: 63vw;
}

.news-imagecontainer2{
    /*to make alternating sides for the picture eg. left first article, right second article*/
    order: 2;
    width: 55vw;
    /*hide any part of image outside of container*/
    overflow: hidden;
}

.news-imagecontainer2 img{
    /*make the image fill the width of container*/
    width: 100%; 
    /*maintain the aspect ratio*/
    height: auto; 
    /*remove any alignment/spacing that is default*/
    display: block; 
}

.news-content2{
    /*switch the order because i want alternating side one picture one text*/
    order: 1;
    color: #ffffff;
    width: 30vw;
    padding-right: 20px;
    /*ensure there is space from top and sidesof text box to the text*/
    padding-top: 10px;
    padding-left: 15px;
    /*limit max width so it does not expand too much if photo too large*/
    max-width: 70vw;
    /*same height as image*/
    max-height: 55vh;
}

.news-readmorebtncontainer{
    /*for aesthetics*/
    padding-top: 15px;
}

.news-readmorebtn{
    background: #000000;
    border: 2px solid #ffffff;
    color: #ffffff;
    /*spacing*/
    letter-spacing: 2px;
    padding: 0.7em 1em;
    margin: 0.25em;
    /*transition for hover animation*/
    transition: 0.5s;
}
.news-readmorebtn:hover{
    background: #ffffff;
    color: #000000;
}
/*------------------------------------------------MAIN CONTACT----------------------------------------------------------------*/

.contactinfo {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contacthead {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contacticons {
  display: flex;

}

.contacticon {
  width:fit-content;
  border-radius: 50%;
  padding: 10px;
  transition: 0.5s;
}

.contacticon:hover {
  -webkit-box-shadow:0px 0px 300px 10px rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0px 0px 300px 10px rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 300px 10px rgba(255, 255, 255, 0.9);
  transform: translateY(-10px);
}

/*contact form right side*/

/*------------------------------------------------@MEDIA----------------------------------------------------------------*/

@media(max-width: 1350px){
    .news-container1, .news-container2{
        flex-direction: column;
    }
    .news-container1, .news-container2{
        align-items: center;
    }
    .news-imagecontainer{
        justify-content: center;
        overflow: hidden;
        width: 500px;
    }

    .news-content1, .news-content2{
        width: 500px;
    }

    .news-content2{
        order: 2;
    }
}

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}



  
/*closer to tablet size screen*/
@media(max-width: 820px){
    .news-container1, .news-container2{
        width: 75vw;
    }
    .news-content1, .news-content2{
        font-size: 14px;
    }
    .bio {
        width: 80vw;
    }
}

@media(max-width:650px){
    .news-content1, .news-content2, .news-imagecontainer{
        width: 350px;
    }
    .news-imagecontainer{
        width: 350px;
        
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }
    .timeline ul li div {
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #04004280 transparent transparent;
    }
}

@media(max-width: 400px){   
    .news-content1, .news-content2{
        font-size: 12px;
    }

    .bio {
        font-size: 15px;
    }
}
